<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NodeJS Practice</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 class="display-5">Welcome To Our Website May You Find What You Seek</h1>
        <p class="lead" style="background-color:#f2f2f2;box-sizing:border-box;padding:3%;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra rutrum eleifend. 
        Etiam in justo placerat, varius tellus in, faucibus ipsum. Etiam eget ornare orci. 
        Donec pretium nec felis in porttitor. Sed vitae consectetur justo, id tincidunt urna. 
        Donec sodales ipsum vel tellus accumsan ultricies. Mauris eget posuere augue. 
        Nulla accumsan laoreet mi, ut sodales ex posuere eu. Suspendisse pellentesque, 
        purus eget pretium posuere, elit metus fringilla lectus, in gravida metus eros et 
        dui. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis euismod 
        lorem lobortis libero ultricies tempor. Aenean vel ullamcorper felis.></p>
    </body>
</html>